<h2 style='color:purple' align='center'>Naive Bayes Tutorial Part 1: Predicting survival from titanic crash</h2>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [4]:
inputs = df.drop('Survived', axis=1)
target = df.Survived

In [5]:
#inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [6]:
inputs = pd.get_dummies(inputs, drop_first=True)
inputs.head()

   Pclass   Age     Fare  Sex_male
0       3  22.0   7.2500         1
1       1  38.0  71.2833         0
2       3  26.0   7.9250         0
3       1  35.0  53.1000         0
4       3  35.0   8.0500         1

In [7]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [8]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [9]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  Sex_male
0       3  22.0   7.2500         1
1       1  38.0  71.2833         0
2       3  26.0   7.9250         0
3       1  35.0  53.1000         0
4       3  35.0   8.0500         1

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.3)

In [11]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [12]:
model.fit(X_train, y_train)

GaussianNB()

In [13]:
model.score(X_test, y_test)

0.7611940298507462

In [14]:
X_test[0:10]

     Pclass        Age     Fare  Sex_male
844       3  17.000000   8.6625         1
20        2  35.000000  26.0000         1
849       1  29.699118  89.1042         0
99        2  34.000000  26.0000         1
853       1  16.000000  39.4000         0
72        2  21.000000  73.5000         1
593       3  29.699118   7.7500         0
272       2  41.000000  19.5000         0
834       3  18.000000   8.3000         1
209       1  40.000000  31.0000         1

In [15]:
y_test[0:10]

844    0
20     0
849    1
99     0
853    1
72     0
593    0
272    1
834    0
209    1
Name: Survived, dtype: int64

In [16]:
model.predict(X_test[0:10])

array([0, 0, 1, 0, 1, 0, 1, 1, 0, 0], dtype=int64)

In [17]:
model.predict_proba(X_test[:10])

array([[0.96069463, 0.03930537],
       [0.9357857 , 0.0642143 ],
       [0.00542003, 0.99457997],
       [0.93540121, 0.06459879],
       [0.03369719, 0.96630281],
       [0.72298833, 0.27701167],
       [0.33723537, 0.66276463],
       [0.19293505, 0.80706495],
       [0.96184398, 0.03815602],
       [0.79589437, 0.20410563]])

**Calculate the score using cross validation**

In [18]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(), X_train, y_train, cv=5)

array([0.72      , 0.864     , 0.744     , 0.76612903, 0.7983871 ])